/*Estilos generales*/

body {
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

/*Estilos para el componente App a nivel de aplicación*/
.App {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
